/*HIDRAULICA*/
#grid_container_hid{
    display: grid;
    grid-template-columns: 1fr;
}

#grid_container_section_hid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

.display_hid{
    display: flex;
}



.d_play_hid{
    display: flex;
    flex-direction: column;
    align-self: self-start;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    #grid_container_section_hid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 100vh;
    }

    .display_hid{
        display: flex;
        justify-content: center;
        align-items: start;
    }

}